* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient( #bbe2e7, #c01cb815);
    margin: 0;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.navbar a:hover {
    transform: scale(1.05);
    color: #1f73d1;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
    transition: 1.0s;
}

.hero {
    text-align: center;
    margin-top: 70px;
}

.hero h2 {
    font-size: 55px;
    font-weight: bold;
}

.conteudo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 100px;
    text-align: left;
}

.bloco h3 {
    color: #1f73d1;
    font-size: 28px;
    margin-bottom: 10px;
}

.bloco p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 350px;
    backdrop-filter: blur(12px);
}

.btn-area {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.botao {
    background-color: #1f73d1;
    color: white;
    padding: 12px 35px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
    border: 3px solid rgba(0, 0, 0, 0.267);
}

.botao:hover {
    background-color: #7a26a1;
    transform: scale(1.05);
    border: 4px solid transparent;
    border-radius: 10px;
    background:
    linear-gradient(90deg, #ff00cc, #3333ff) border-box;
    transition: 1.0s;
}

.final {
    margin-top: 110px;
}
