* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #1f73d1;
    transform: scale(1.05);
}

.hero {
    text-align: center;
    margin-top: 70px;
}

.hero h2 {
    font-size: 55px;
    font-weight: bold;
}

.conteudo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 100px;
    text-align: left;
}

.bloco h3 {
    color: #1f73d1;
    font-size: 28px;
    margin-bottom: 10px;
}

.bloco p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 350px;
}

.btn-area {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.botao {
    background-color: #1f73d1;
    color: white;
    padding: 12px 35px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}

.botao:hover {
    background-color: #9e3acc;
    transform: scale(1.05);
}